input{
    border-radius: 20px;
    padding: 2px;
    padding-left: 5px;
    background-color: lightgray;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.6);
}

label{
    color:white;
}

textarea {
    border-radius: 20px;
    padding: 2px;
    background-color: lightgray;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.6);
}